<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>5</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>houseName</key>
		<string>万科红郡1</string>
		<key>region</key>
		<string>武汉市江夏区</string>
		<key>square</key>
		<string>60-200m2</string>
		<key>price</key>
		<string>30-200万</string>
		<key>onSell</key>
		<integer>1</integer>
		<key>des</key>
		<string>5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。5000抵20000现金活动，红包派不停。</string>
		<key>img</key>
		<string>5</string>
	</dict>
</array>
</plist>
